body {
    font-family: Roboto, sans-serif;
    background-color: #F5F7F5;
}

header {
  background-color: #000080;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: Montserrat, sans-serif;
}
a:hover {
    background-color: #37CB91;
}

nav ul{
    list-style: none;
    display: none;
    padding: 0 ;   
    gap: 1.5rem;
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
section {
    display: grid;
    grid-template-columns: 1fr;
}
img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 1rem;
}
figcaption {
    text-align: center;
    font-weight: bold;
}
nav ul.show {
    display: flex;
    flex-direction: column;
}
#menu-button {
    display: block;
    margin-left: auto;
}
footer {
    text-align: center;
}


